body {
  margin: 0;
  height: 100vh;
  padding-top: 20px;
  line-height: 1.7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;
}

.intro {
  padding: 100px;
  padding-left: 350px;
  padding-right: 350px;
}

a {
  color : #f44336;
  text-decoration: none;
  cursor: url("./images/icon.png"), pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
