body {
  background-color: #1D4EF0;
}

p {
  color: #fff;
}

.homepage {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.intro {
  max-width: 41rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.subtext {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.7;
  font-family: serenity, sans-serif;
  font-weight: 500;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;
}

a {
  color : #FFA42E;
  text-decoration: none;
  cursor: url("./images/icon.png"), pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
