body {
  background-color: #1d4ef0;
}

p {
  color: #fff;
}

.homepage {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.intro {
  max-width: 41rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.subtext {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 1.7;
  font-family: serenity, sans-serif;
  font-weight: 500;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;
}

a {
  color: #ffa42e;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dog-text-art {
  width: 350px;
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
